<nav>
  <div class="left">
    <h1><a href="/">ASPHALT</a></h1>
  </div>
  <div class="right">
    <li><a href="/members">Members</a></li>
    <li><a href="/alumni">Alumni</a></li>
    <li><a href="/articles">Articles</a></li>
    <li><a href="/magazine">Magazine</a></li>
  </div>
  <div class="ham">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
</nav>
