* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --accent-color: #c2c2c2;
  --main-color: #232323;
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: var(--main-color);
}

h1 {
  margin-block: 40px;
  width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

.main {
  font-size: 20vw;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background: -webkit-linear-gradient(60deg, blue 50%, red 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tag {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  text-align: center;
  /* padding: 40px; */
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
